<%- include('../shared/header') %>

<div class="container">
    <h1>"<%= title %>"</h1>
    <ul>
        <li><a href="/usuarios">Cadastro de Usuarios</a></li>
        <li><a href="/paginas">Cadastro de Paginas</a></li>
    </ul>
    <div class="teste">teste de cor</div>
</div>

<%- include('../shared/footer') %>